.footer {
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  height: 142px;
  position: relative;
  text-align: center;
  padding: 35px;
}

.logo {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 67px;
  left: 50%;
  cursor: pointer;
}

.logoLeft {
  transform: translate(-58px, 0);
}

.logoRight {
  transform: translate(12px, 0);
}

h5 {
  color: #3e3e3e;
  margin: 0 auto;
}

/* Fading animation */
.footer {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
