.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.image {
  position: relative;
  /* background-image property value to be changed dynamically with component props and inline style*/
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding: 18%;
  min-height: 50vh;
}

.content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
  /* Previously used width: 30%; no padding */
  width: 50%;
  padding: 0 64px;
}

.contentAlt {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(50%, -50%);
  text-align: left;
  /* Previously used width: 30%; no padding */
  width: 50%;
  padding: 0 64px;
}

.content h2 {
  font-size: 2.5rem;
  color: rgb(98, 52, 117);
  text-transform: uppercase;
}

.contentAlt h2 {
  font-size: 2.8rem;
  color: rgb(98, 52, 117);
  text-transform: uppercase;
}

button {
  margin-top: 1rem;
  padding: 16px 8px;
  border: none;
  background-color: rgb(255, 114, 24);
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .content h2,
  .contentAlt h2 {
    font-size: 1.7rem;
  }

  .content {
    padding-right: 64px;
  }
  .contentAlt {
    padding-left: 64px;
  }
}

@media only screen and (max-width: 540px) {
  .content h2,
  .contentAlt h2 {
    font-size: 1.5rem;
  }

  .contentAlt {
    padding: 0 32px;
  }

  .content {
    text-align: justify;
    padding: 0 16px 0 64px;
  }
}

@media only screen and (max-width: 450px) {
  .image {
    min-height: 100vh;
    background-position: 70% center;
  }

  .content,
  .contentAlt {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* Previously used width: 30%; no padding */
    width: 80%;
    padding: 0 32px;
  }

  .contentAlt {
    top: 50%;
  }

  .content h2 {
    color: white;
  }

  .content h2,
  .contentAlt h2 {
    font-size: 1.5rem;
  }
}

/* Fading animation */
.container {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
